.pribeh {
  display: inline-block;
  font-family: 'Charis SIL', sans-serif;
  font-size: 15px;
  background-image: url(./../../img/podklad.jpg);
  padding: 20px;
  background-repeat: round;
  background-size: cover;

  text-align: center;
}
h1 {
  padding-bottom: 20px;
}
.balaban {
  padding-top: 20px;
  width: 200px;
  height: 300px;
  border-radius: 20px 20px;
}
.masin {
  width: 200px;
  height: 300px;
  border-radius: 20px 20px;
}
.moravek {
  width: 200px;
  height: 300px;
  border-radius: 20px 20px;
}
