.kontakt {
  display: inline-block;
  font-family: 'Charis SIL', sans-serif;
  font-size: 20px;
  background-image: url(./../../img/podklad.jpg);
  padding: 20px;
  background-repeat: round;
  background-size: cover;
  font-size: 15px;
  text-align: center;
}
.kontakt a {
  text-decoration: none;
  font-family: 'Charis SIL', sans-serif;
  color: aliceblue;
}
.kontaktni-fotka {
  width: 200px;
  height: 150px;
  border-radius: 20px 20px;
}
