.onas {
  display: block;
  font-family: 'Charis SIL', sans-serif;
  font-size: 15px;
  background-image: url(./../../img/podklad.jpg);
  padding: 20px;
  background-repeat: round;
  background-size: cover;
}
img {
  height: 150px;
  width: 150px;
}
