.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(20, 20, 19);
  font-size: 15px;
  padding-bottom: 7px;
  padding-top: 7px;
}
.menu li {
  display: inline-block;
}
.menu a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 10px;
  font-family: 'Charis SIL', sans-serif;
}
.menu a:hover,
.menu a:focus {
  background-color: rgb(28, 20, 70);
}
