.stepper {
  display: flex;
  justify-content: space-around;
  font-family: 'Charis SIL', sans-serif;
  font-size: 15px;
  background-color: black;
  border-style: solid;
  border-color: grey;
}

.inner_stepper {
  display: inline-block;
  font-family: 'Charis SIL', sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 10px 10px;
  color: gray;
}

.inner_stepper--active {
  color: white;
  cursor: pointer;
  font-weight: bold;
}
