@import url('https://fonts.google.com/specimen/Charis+SIL?preview.text=T%C3%A9m%C4%9B%C5%99%20p%C5%99edt%C3%ADm,%20ne%C5%BE%20jsme%20si%20to%20uv%C4%9Bdomili,%20jsme%20opustili%20zemi.&preview.text_type=custom');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Charis SIL', sans-serif;
}

.container {
  background-image: linear-gradient(to bottom, #36363c, #7c696f);
  color: #ffffff;
  height: 100vh;
  max-width: 400px;
  margin: auto;
}

/*header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(./img/rocket.svg);
  background-size: contain;
}*/
