@import url('https://fonts.google.com/specimen/Charis+SIL?preview.text=T%C3%A9m%C4%9B%C5%99%20p%C5%99edt%C3%ADm,%20ne%C5%BE%20jsme%20si%20to%20uv%C4%9Bdomili,%20jsme%20opustili%20zemi.&preview.text_type=custom');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Charis SIL', sans-serif;
}

.container {
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hlavicka {
  background-image: url(https://lokalhost:8080/img/titulka-4c1652..jpg);
  padding: 20px;
  background-size: cover;
  height: 100vh;
}
@media (min-width: 500px) {
  .container {
    max-width: 500px;
    margin: auto;
  }
}
