.vizitka__page {
  background-image: url(./../../img/podklad.jpg);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.vizitka__number {
  font-family: 'Charis SIL', sans-serif;
  font-size: 15px;
  color: aliceblue;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form {
  font-family: 'Charis SIL', sans-serif;
  font-size: 15px;
  color: aliceblue;
  text-align: center;
}
#question {
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgb(75, 30, 147);
  color: aliceblue;
}
.vizitka__nadpis {
  margin-bottom: 10px;
}
.vizitka__image {
  display: inline-block;
  width: 300px;
  height: 250px;
  border-radius: 20px 20px;
  margin: auto;
}
.question {
  display: flex;
  flex-direction: column;
}
.submit {
  font-family: 'Charis SIL', sans-serif;
  font-size: 20px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgb(194, 179, 225);
}

