.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(20, 20, 19);
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.menu li {
  display: inline-block;
}
.menu a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 10px;
  font-family: 'Charis SIL', sans-serif;
}
.menu a:hover,
.menu a:focus {
  background-color: rgb(28, 20, 70);
}

.logo {
  background-color: #262a29;
}

.logo:hover,
:focus {
  background-color: #1e2f2b;
}
.button-tlacitka {
  width: 30px;
  height: 30px;
}
