.stepper__background {
  font-family: 'Charis SIL', sans-serif;
  font-size: 15px;
  color: black;
  text-align: center;
  background-image: url(./../../img/blesk.png);
  background-color: grey;
  background-repeat: round;
  background-size: cover;
  height: 2300px;
  max-width: 400px;
  padding: '10px';
}
